html, body {
    background-color: #F2F2F2; 
    margin: 0; 
    padding: 0; 
    
  }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
.logo {
    background-color: #CCCED9;
    max-width: 100px;
    margin-top: 20; 
    height: 150;
    border-radius: 4;
  }

  .title-text{
    font-size: 20px;
    margin-top: 80px;
    text-align: center;
  }

  .field-container {
    margin-top: 20px; 
  }

  .password-container {
    margin-top: 6px;
  }

.button-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
.custom-button {
    width: 100%; 
    background-color: #3c4659; 
    color: #fff; 
    border: none;
    margin-bottom: 10px;
  }

  .forgot-password a,
  .create-account a {
    margin-top: 10px;
    text-decoration: none;
    color: #3c4659;
    margin-right: 10px;
  }
  
  .forgot-password a:hover {
    margin-top: 5px;
    text-decoration: underline;
  }

  .forgot-password {
    text-align: center;
    margin-top: 10px;
  }

.create-account {
    display: flex;
    justify-content: center; 
    align-items: flex-end; 
    height: 200px; 
    width: 100%;
  }
  